{:env :dev
 :server {:host "localhost"
          :port 8080}
 :db {:connection-timeout 30000
      :idle-timeout 600000
      :max-lifetime 1800000
      :minimum-idle 2
      :maximum-pool-size  10
      :adapter "postgresql"
      :username "username"
      :password "password"
      :database-name "database-name"
      :server-name "localhost"
      :port-number 5432}
 :redis {:host              "127.0.0.1"
         :port              6379
         :lock-time-ms      15000
         :lock-wait-time-ms 500}}